<% @articles.each do |article| %>
    <li class="article clearfix">
        <%= link_to article_path(article.id) do %>
            <% unless article.article_image == 'null' %>
                <div class="article-left">
                    <img src=<%= article.article_image %>>
                </div>
            <% else %>
                <div class="article-left"><%= image_tag "no_image.jpg" %></div>
            <% end %>
            <ul class="article-right">
                <li class="article-title"><%= truncate(article.title, length: 50) %></li>
                <li class="iine-count">👍<%= article.favorites.count %></li>
            </ul>
        <% end %><br>
    </li>
<% end %>
