<%= link_to "ログアウト", destroy_user_session_path, method: :delete %><br>
<div id='textarea'>
    
    <h1><%= @article.title %></h1>
    <p><%= @article.author %></p>
    <p><%= @article.published_at %></p>
    <p><%= @article.content %></p>
    <p><%= @article.article_image %></p>
</div>
