<%= link_to "ログアウト", destroy_user_session_path, method: :delete %><br>
<div class="container-fluid">
    <div class="row">
        <div id='textarea' class="col-sm-10 offset-sm-1">
            <!-- jsでarticleのidを受け取る用（hiddenで非表示）-->
            <input type="hidden" value="<%= @article.id %>" class="articleID">
            <h1 class="center-block">
                <strong><%= @article.title %></strong>
            </h1>
            <ul class="clearfix">
                <li class="sub">
                    <p class="author"><span class="label">Author:</span> <%= @article.author %></p>
                    <p class="published-date"><span class="label">Published_at:</span> <%= @article.published_at %></p>
                </li>
                <li class="favo">
                    <div id='favorite'><%= render 'favorites/favorite', article: @article %></div>
                </li>
            </ul>
            <p class="content"><span class="label">Content:</span> <%= @article.content %></p>
            <p class="url"><span class="label">Link:</span><br><%= link_to @article.article_image do %><%= @article.article_image %><% end %></p>
        </div>
    </div>
</div>
<div class="offset-xs-1"
<div class="list popup mfp-hide">
    <h1 id="word"></h1>
    <h1 id="description"></h1>
</div>