<!DOCTYPE html>
<html>
  <head>
    <title>Tnews</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= include_gon %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="header">
      <div class="header-container">
        <div class="header-title text-center">
          <%= link_to articles_path do %>
            <p><strong>Tnews</strong></p>
          <% end %>
        </div>
      </div>
    </div>
        <%= yield %>
    <% if user_signed_in? %>
      <div class="footer">
        <ul class="footer_menu">
          <li><%= link_to user_path(current_user.id) do %><strong class="fa fa-home"></strong><% end %></li>
          <li><a href="#"><strong class="fa fa-google"></strong></a></li>
          <li><a href="#"><strong class="fa fa-twitter"></strong></a></li>
          <li><a href="#"><strong class="fa fa-search"></strong></a></li>
        </ul>
      </div>
    <% end %>
  </body>
</html>
