<!DOCTYPE html>
<html>
  <head>
    <title>Tnews</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="header">
      <nav>
        <div class="drawer">
          <a class="navbar_brand" href="#">Tnews</a>
          <div class="navbar_toggle">
            <span class="navbar_toggle_icon"></span>
            <span class="navbar_toggle_icon"></span>
            <span class="navbar_toggle_icon"></span>
          </div>
        </div>
        <div class="menu">
          <ul>
            <li><%= link_to user_browsing_histories_path(user_id: current_user.id) do %>閲覧履歴<% end %></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Service</a></li>
            <li><a href="#">access</a></li>
          </ul>
        </div>
      </nav>
    </div>
    <%= yield %>
  </body>
</html>
